@import url(header.css);
@import url(features.css);
@import url(footer.css);
@import url(bottom-information.css);
@import url(hero-section.css);
@import url(second-section.css);

@font-face {
    font-family: "Avenir";
    src: url("../Fonts/AvenirLTStd-Roman.otf")
}

@font-face {
    font-family: "AvenirAbout";
    src: url("../Fonts/AvenirLTStd-Black.otf")
}

@font-face {
    font-family: "Helvetica";
    src: url("../Fonts/Helvetica.otf");
}

body{
    width: 1920px;
    margin: 0 auto;
}
@media (max-width:719px){
    body{
        width: 100%;
        margin: 0 auto;
    }
}
@media (min-width:720px) and (max-width:1080px){
    body{
        width: 100%;
        margin: 0 auto;
    }
}
@media (max-width:1920px){
    body{
        width: 100%;
        margin: 0 auto;
    }
}

